doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/angular/angular.min.js")
    script(type="text/javascript", src="/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/js/diff.js")
    script(type="text/javascript", src="/js/main.js")
  body(ng-app="edit")
    block content
