body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.bm {
  padding: 17px;
  background-color: rgba(100, 255, 0, 0.4);
  border-radius: 10px;
  text-decoration: none;
}